repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  -   repo: https://github.com/thlorenz/doctoc
      rev: v2.2.0
      hooks:
        -   id: doctoc
            args:
              - --github
              - --update-only
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.47.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint-fix
